---
import BaseLayout from '@layouts/BaseLayout.astro';

import Picture from '@components/Picture.astro';
import { Sprite } from 'astro-icon';

import imgTheNakedApeCover from '@images/content/hobbies/books/the-naked-ape-cover.jpg';
import photoSunset from '@images/content/hobbies/photo/sunset.jpg';
import photoEscalator from '@images/content/hobbies/photo/escalator.jpg';
import photoEscalator2 from '@images/content/hobbies/photo/escalator-2.jpg';
import photoGuyAndGirl from '@images/content/hobbies/photo/guy-and-girl.jpg';
import photoCar from '@images/content/hobbies/photo/car.jpg';
import photoVitrina from '@images/content/hobbies/photo/vitrina.jpg';
import photoSnowfall from '@images/content/hobbies/photo/snowfall.jpg';
import economyStockToFlow from '@images/content/hobbies/economy/stock-to-flow.jpg';
import economyBitcoinRainbowChart from '@images/content/hobbies/economy/bitcoin-rainbow-chart.jpg';
import gamesRDR2 from '@images/content/hobbies/games/rdr2.jpg';
import skySnowyMountains from '@images/content/hobbies/sky/snowy-mountains.jpg';
import skyEvgeniySki from '@images/content/hobbies/sky/evgeniy-ski.jpg';
import skyEvgeniySkiFalling from '@images/content/hobbies/sky/evgeniy-ski-falling.jpg';


const pageTitle = "Знания и умения";
---

<BaseLayout title={pageTitle}>
  <h1 id="home" class="article__title title title--h1" data-anchor>
    🌈 Мои увлечения и&nbsp;интересы&nbsp;<span class="title__control">&nbsp;<a class="title__link link link--nav" href="#home"><Sprite class="title__icon" name="chain" aria-hidden="true" /></a></span></h2>
  </h1>

  <p class="article__text">Веб-разработка для меня, в&nbsp;первую очередь&nbsp;&mdash; интересное занятие, а&nbsp;уже во&nbsp;вторую&nbsp;&mdash; источник дохода. Как писал Лев Николаевич Толстой: <q class="quote">Счастье не&nbsp;в&nbsp;том, чтобы делать всегда, что хочешь, а&nbsp;в&nbsp;том, чтобы всегда хотеть того, что делаешь</q>.</p>
      
  <p class="article__text">Мне всегда хочется что-то кодить, решать интерфейсные задачи, в&nbsp;чем-то разбираться, исследовать и&nbsp;изучать новое. Но&nbsp;если постоянно заниматься одним делом без отдыха, можно легко перегореть, даже если интересно и&nbsp;не&nbsp;надоедает. Из-за выгорания упадет продуктивность и&nbsp;работа перестанет радовать. Нужно уметь переключаться и&nbsp;отвлекаться на&nbsp;другие занятия&nbsp;&mdash; это и&nbsp;есть отдых.</p>
    
  <p class="article__text">Еще важно расширять кругозор и&nbsp;не&nbsp;забывать о&nbsp;физическом здоровье. В&nbsp;этом мне помогают увлечения: чтение научно-популярных и&nbsp;художественных книг; занятие мобильной фотографией; изучение крипторынка и&nbsp;инвестирование; кино и&nbsp;компьютерные игры; силовые тренировки и&nbsp;катание на&nbsp;горных лыжах в&nbsp;сезон.</p>

  <section class="article__section section">
    <h2 id="books" class="article__title title" data-anchor>📖 Книги&nbsp;<span class="title__control">&nbsp;<a class="title__link link link--nav" href="#books"><Sprite class="title__icon" name="chain" aria-hidden="true" /></a></span></h2>

    <figure class="article__blockquote blockquote">
      <blockquote class="blockquote__body">
        <p class="article__text">&laquo;Книги подобны вампирам. Они лежат на&nbsp;пустых пыльных полках и&nbsp;только и&nbsp;ждут одного лишь момента... когда вы&nbsp;возьмете их&nbsp;в&nbsp;руки, и&nbsp;они всосутся вам в&nbsp;душу&raquo;</p>
      </blockquote>
      <figcaption class="blockquote__caption"><cite class="blockquote__cite">&laquo;<a class="link link--info" href="https://www.livelib.ru/book/1000214208-polet-vampira-zametki-o-prochitannom-mishel-turne">Полет вампира. Заметки о&nbsp;прочитанном</a>&raquo;</cite>&nbsp; <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%A2%D1%83%D1%80%D0%BD%D1%8C%D0%B5,_%D0%9C%D0%B8%D1%88%D0%B5%D0%BB%D1%8C">Мишель Турнье</a></figcaption>
    </figure>

    <p class="article__text">О&nbsp;том, зачем читать книги я&nbsp;не&nbsp;смогу сказать лучше, чем профессор литературы и&nbsp;доктор филологических наук <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%96%D0%B0%D1%80%D0%B8%D0%BD%D0%BE%D0%B2,_%D0%95%D0%B2%D0%B3%D0%B5%D0%BD%D0%B8%D0%B9_%D0%92%D0%B8%D0%BA%D1%82%D0%BE%D1%80%D0%BE%D0%B2%D0%B8%D1%87">Евгений Жаринов</a> в&nbsp;своем <a class="link link--info" href="https://www.youtube.com/watch?v=a7sdEZr5rqY&list=PLXh_N2NkDROm3NfRMaAzvIfUFSFpxw9qJ">напутствии для читателя</a>, поэтому просто поделюсь своими соображениями на&nbsp;этот счет.</p>

    <p class="article__text">Я&nbsp;читаю книги с&nbsp;самого детства. Любовь к&nbsp;чтению мне привил мой дед&nbsp;&mdash; один из&nbsp;лучших хирургов-травматологов области. Он&nbsp;серьезно занимался шахматами и&nbsp;имел обширную библиотеку литературы по&nbsp;этой игре, медицине и&nbsp;много художестенных книг. На&nbsp;летних каникулах, приезжая погостить, я&nbsp;бывало подолгу изучал огромные полки во&nbsp;всю стену до&nbsp;потолка, такое количество книг завораживало.</p>

    <p class="article__text">Полюбил читать я&nbsp;не&nbsp;сразу, это не&nbsp;взялось просто так из&nbsp;ниоткуда. Мне, школьнику начальных классов, всегда хотелось больше гулять, а&nbsp;не&nbsp;сидеть уткнувшись в&nbsp;книгу, но&nbsp;дед знал действенный метод. Мне просто сообщалось о&nbsp;том, что пока не&nbsp;прочитаю столько то&nbsp;страниц, никуда гулять не&nbsp;пойду. Приходилось с&nbsp;трудом продираться сквозь бесконечные 20&nbsp;или даже целых 30&nbsp;страниц на&nbsp;волю, к&nbsp;друзьям во&nbsp;двор. Но&nbsp;идея была не&nbsp;в&nbsp;принуждении читать абы что, а&nbsp;в&nbsp;том, чтобы дать возможность получить удовольствие от&nbsp;прочитанного. Дед не&nbsp;подсовывал мне шахматной литературы, медицинских справочников или нудную для маленького человека художественную классику, я&nbsp;читал книги о&nbsp;приключениях, охоте за&nbsp;сокровищами и&nbsp;путешествиях, это увлекало и&nbsp;развивало воображение. Со&nbsp;временем я&nbsp;уже не&nbsp;спешил сломя голову во&nbsp;двор, читать было тоже интересно. Игры и&nbsp;друзья никуда не&nbsp;делись, но&nbsp;и&nbsp;с&nbsp;книгами я&nbsp;подружился на&nbsp;всю жизнь. Я&nbsp;искренне благодарен своему деду за&nbsp;это. И&nbsp;да, в&nbsp;шахматы он&nbsp;играть меня все&nbsp;же научил.</p>
    <p class="article__text">Мало любить читать и&nbsp;делать это постоянно, нужно уметь разбираться в&nbsp;том, что читать. Я&nbsp;познаю окружающую действительность с&nbsp;помощью научной картины мира, ведь всему что нас окружает, делает жизнь легче, приятнее и&nbsp;дольше&nbsp;&mdash; мы&nbsp;обязаны науке.</p>

    <p class="article__text">Я&nbsp;много читаю научно-популярной литературы, смотрю научно-популярные лекции и&nbsp;фильмы. Мне особенно интересны антропология и&nbsp;антропогенез&nbsp;&mdash; эти науки рассказывают о&nbsp;том, как эволюционирует и&nbsp;развивается современный человек и&nbsp;общество в&nbsp;целом. А&nbsp;что может быть интереснее знаний о&nbsp;собственном виде, его биологии и&nbsp;поведении? Мне всегда было интересно откуда взялись люди, зачем мы&nbsp;существуем, почему мы&nbsp;именно такие и&nbsp;что нами движет. На&nbsp;все эти вопросы понятно и&nbsp;обстоятельно отвечает наука.</p>

    <p class="article__text">Научной картине мира я&nbsp;следовал не&nbsp;всегда. На&nbsp;ранних этапах взросления, будучи студентом, я&nbsp;как слепой котенок тыкался в&nbsp;разное мракобесие. Жажда познания заводила меня даже в&nbsp;популярную психологию и&nbsp;изотерику. Пытаясь понять описанные выше вопросы, я&nbsp;читал много всяких книг о&nbsp;популярной психологии и&nbsp;изотерике, не&nbsp;имеющих ничего общего с&nbsp;наукой и&nbsp;неявляющихся предметом культурной ценности. Подобные мракобесные книги перемежались с&nbsp;легкой художественной и&nbsp;разной мотивационной литературой. Но&nbsp;я&nbsp;не&nbsp;переставал искать, задавать вопросы, быть любопытным и&nbsp;постепенно все-таки пришел к&nbsp;научной картине мира.</p>

    <p class="article__text">Впервые с&nbsp;научно-популярной литературой я&nbsp;познакомился через книгу Десмонда Морриса &laquo;<a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D0%BB%D0%B0%D1%8F_%D0%BE%D0%B1%D0%B5%D0%B7%D1%8C%D1%8F%D0%BD%D0%B0">Голая обезьяна</a>&raquo; (<a class="link link--info" href="https://en.wikipedia.org/wiki/The_Naked_Ape">англ.</a> The Naked Ape: A Zoologist's Study of the Human Animal) , изданную в&nbsp;1967&nbsp;году. Эта неновая и&nbsp;во&nbsp;многих местах устаревшая книга, открыла мне удивительный, сложный и&nbsp;невероятно интересный мир науки и&nbsp;научного знания об&nbsp;устройстве окружающей действительности. Читая книгу, я&nbsp;гуглил, читал о&nbsp;теориях и&nbsp;ученых, упоминавшихся в&nbsp;книге, знакомисля с&nbsp;их&nbsp;трудами. Постепенно начал более-менее сносно ориентироваться в&nbsp;современном антропологическом научном сообществе, читать <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%94%D0%BE%D0%BA%D0%B8%D0%BD%D0%B7,_%D0%A0%D0%B8%D1%87%D0%B0%D1%80%D0%B4">Ричарда Докинза</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B0%D1%80%D0%BA%D0%BE%D0%B2,_%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80_%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B8%D1%87_(%D0%B1%D0%B8%D0%BE%D0%BB%D0%BE%D0%B3)">Александра Маркова</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%94%D1%80%D0%BE%D0%B1%D1%8B%D1%88%D0%B5%D0%B2%D1%81%D0%BA%D0%B8%D0%B9,_%D0%A1%D1%82%D0%B0%D0%BD%D0%B8%D1%81%D0%BB%D0%B0%D0%B2_%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B8%D1%87">Станислава Дробышевского</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%93%D0%B5%D0%BB%D1%8C%D1%84%D0%B0%D0%BD%D0%B4,_%D0%9C%D0%B8%D1%85%D0%B0%D0%B8%D0%BB_%D0%A1%D0%B5%D1%80%D0%B3%D0%B5%D0%B5%D0%B2%D0%B8%D1%87">Михаила Гельфанда</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%9A%D0%B0%D0%B7%D0%B0%D0%BD%D1%86%D0%B5%D0%B2%D0%B0,_%D0%90%D1%81%D1%8F">Асю Казанцеву</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%9F%D0%B0%D0%BD%D1%87%D0%B8%D0%BD,_%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80_%D0%AE%D1%80%D1%8C%D0%B5%D0%B2%D0%B8%D1%87">Александра Панчина</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B0%D0%BF%D0%BE%D0%BB%D1%8C%D1%81%D0%BA%D0%B8,_%D0%A0%D0%BE%D0%B1%D0%B5%D1%80%D1%82">Роберта Сапольски</a> и&nbsp;других ученых генетиков, биологов, зоологов, антропологов и&nbsp;популяризаторов науки. Через антропологию для меня открылись и&nbsp;другие области научных знаний, я&nbsp;познакомился с&nbsp;такими авторами как <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B0%D0%B3%D0%B0%D0%BD,_%D0%9A%D0%B0%D1%80%D0%BB">Карл Саган</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B0%D0%B9%D1%81%D0%BE%D0%BD,_%D0%9D%D0%B8%D0%BB_%D0%94%D0%B5%D0%B3%D1%80%D0%B0%D1%81%D1%81">Нил Деграс Тайсон</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%A5%D0%BE%D0%BA%D0%B8%D0%BD%D0%B3,_%D0%A1%D1%82%D0%B8%D0%B2%D0%B5%D0%BD">Стивен Хокинг</a> и&nbsp;многими другими, всех и&nbsp;не&nbsp;перечислишь.</p>

    <Picture 
      img={imgTheNakedApeCover}
      caption="Суперобложка книги «Голая обезьяна»"
      imgAlt="Черно-белое фото: Десмонд Моррис держит лемура с большими глазами. Надпись по-английски The Naked Ape на черном фоне." 
      classNames="article__picture picture--wide" 
    />

    <p class="article__text">Сейчас моя <a class="link link--info" href="https://monocler.ru/antibiblioteka-umberto-eko-pochemu-neprochitannyie-knigi-vazhnee-prochitannyih/">антибиблиотека</a> насчитывает <a class="link link--info" href="https://www.livelib.ru/reader/Afider/selections">больше 250&nbsp;книг</a>. По&nbsp;мере того, как я&nbsp;что-то читаю или смотрю, в&nbsp;поле зрения появляются новые книги из&nbsp;которых пополняется ридлист. Осенью 2020 года я&nbsp;завел телеграм-канал <a class="link link--info" href="https://t.me/beskrovnyy_books">@beskrovnyy_books</a>, где публикую книги, которые прочитал или хочу прочесть. Очень рекомендую <a class="link link--info" href="https://evolutionfund.ru/project/1">книги</a> фонда &laquo;Эволюция&raquo; и&nbsp;<a class="link link--info" href="https://www.corpus.ru/products/dmitry-zimin-proyekty/">Книжные проекты Дмитрия Зимина</a>.</p>

    <p class="article__text">Критическое мышление&nbsp;&mdash; это не&nbsp;что-то, что можно воспитать в&nbsp;себе за&nbsp;какой-то известный промежуток времени, это процесс длящийся всю жизнь, это большая работа. Это процесс, перефразируя классика, в&nbsp;котором нужно выдавливать из&nbsp;себя по&nbsp;капли обскурантизм, обсусловленный ленностью нашего мозга. Здесь ситуация подобна изучению иностранного языка. Если не&nbsp;практиковаться и&nbsp;не&nbsp;использовать новый язык, он&nbsp;начнет увядать и&nbsp;деградировать как цветок на&nbsp;подоконнике, который перестали поливать.</p>

    <p class="article__text">Мракобесие может прорываться иногда и&nbsp;ко&nbsp;мне. Например, не&nbsp;так давно в&nbsp;мое инфополе проник <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%9A%D1%83%D1%80%D0%BF%D0%B0%D1%82%D0%BE%D0%B2,_%D0%90%D0%BD%D0%B4%D1%80%D0%B5%D0%B9_%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B8%D1%87">Андрей Курпатов</a>&nbsp;&mdash; напыщенный нарцисс, шоумэн и&nbsp;лжеученый, не&nbsp;имеюций никаких научных званий и&nbsp;никак не&nbsp;относящийся к&nbsp;научному сообществу. Настоящие ученые воспринимают его как шута, делающего вид, что он&nbsp;что-то понимает в&nbsp;психологии и&nbsp;психике человека. Недавно он&nbsp;<a class="link link--info" href="https://www.youtube.com/watch?v=QmUq_TMiCIk">получил</a> шуточную премию <a class="link link--info" href="https://vral.li/">Почетный академик ВРАЛ</a> от&nbsp;одного из&nbsp;российских научно-популярных сообществ <a class="link link--info" href="https://antropogenez.ru/">antropogenez.ru</a>. Мне даже довелось прочесть по&nbsp;неосторожности пару его книг по&nbsp;поводу чего я&nbsp;испытываю лишь сожаление о&nbsp;впустую потраченном времени. Чтобы не&nbsp;нарываться на&nbsp;подобных фриков и&nbsp;лжеученых, нужно с&nbsp;недоверием относиться к&nbsp;любому источнику, смотреть его критику и&nbsp;то, как поспринимают его в&nbsp;научном сообществе.</p>

    <p class="article__text">Читать одни только научно-популярные книги для гармоничного развития личности недостаточно. Для развития словарного запаса, языка, культуры и&nbsp;воображения важно знакомиться с&nbsp;художественными произведениями. Сейчас я&nbsp;читаю художественную литературу и&nbsp;нонфикшен примерно равными частями от&nbsp;всего времени, которое уделяю книгам. Мне нравится научная фантастика: <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%9B%D0%B5%D0%BC,_%D0%A1%D1%82%D0%B0%D0%BD%D0%B8%D1%81%D0%BB%D0%B0%D0%B2">Станислав Лем</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%90%D0%B7%D0%B8%D0%BC%D0%BE%D0%B2,_%D0%90%D0%B9%D0%B7%D0%B5%D0%BA">Айзек Азимов</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%91%D1%80%D0%B0%D1%82%D1%8C%D1%8F_%D0%A1%D1%82%D1%80%D1%83%D0%B3%D0%B0%D1%86%D0%BA%D0%B8%D0%B5">Стругацкие</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%A3%D0%BE%D1%82%D1%82%D1%81,_%D0%9F%D0%B8%D1%82%D0%B5%D1%80">Питер Уоттс</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%93%D0%B5%D1%80%D0%B1%D0%B5%D1%80%D1%82,_%D0%A4%D1%80%D1%8D%D0%BD%D0%BA">Фрэнк Герберт</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%94%D0%B8%D0%BA,_%D0%A4%D0%B8%D0%BB%D0%B8%D0%BF_%D0%9A%D0%B8%D0%BD%D0%B4%D1%80%D0%B5%D0%B4">Филип К. Дик</a>&zwnj; и&nbsp;многие другие.</p>
    <p class="article__text">В&nbsp;художественной книге важен не&nbsp;только сюжет, но&nbsp;и&nbsp;слог, я&nbsp;люблю получать удовольствие от&nbsp;прозы на&nbsp;родном языке. Ни&nbsp;один перевод не&nbsp;сравнится с&nbsp;оригиналом, который написал сам автор на&nbsp;своем родном языке, если, конечно, переводчиком не&nbsp;выступает он&nbsp;же, как это случилось с&nbsp;&laquo;<a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%9B%D0%BE%D0%BB%D0%B8%D1%82%D0%B0_(%D1%80%D0%BE%D0%BC%D0%B0%D0%BD)">Лолитой</a>&raquo;, которую <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%9D%D0%B0%D0%B1%D0%BE%D0%BA%D0%BE%D0%B2,_%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80_%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B8%D1%87">Владимир Набоков</a> сам перевел на&nbsp;свой родной русский язык. По&nbsp;владению слогом мне очень нравятся Владимир Набоков, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%97%D0%B0%D0%BC%D1%8F%D1%82%D0%B8%D0%BD,_%D0%95%D0%B2%D0%B3%D0%B5%D0%BD%D0%B8%D0%B9_%D0%98%D0%B2%D0%B0%D0%BD%D0%BE%D0%B2%D0%B8%D1%87">Евгений Замятин</a> и&nbsp;<a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%A7%D0%B5%D1%85%D0%BE%D0%B2,_%D0%90%D0%BD%D1%82%D0%BE%D0%BD_%D0%9F%D0%B0%D0%B2%D0%BB%D0%BE%D0%B2%D0%B8%D1%87">Антон Павлович Чехов</a>. Но&nbsp;я&nbsp;не&nbsp;пренебрегаю и&nbsp;современниками, читаю <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%9F%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%BD,_%D0%92%D0%B8%D0%BA%D1%82%D0%BE%D1%80_%D0%9E%D0%BB%D0%B5%D0%B3%D0%BE%D0%B2%D0%B8%D1%87">Виктора Пелевина</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%93%D0%BB%D1%83%D1%85%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9,_%D0%94%D0%BC%D0%B8%D1%82%D1%80%D0%B8%D0%B9_%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B5%D0%B5%D0%B2%D0%B8%D1%87">Дмитрия Глуховского</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%A1%D0%BE%D1%80%D0%BE%D0%BA%D0%B8%D0%BD,_%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80_%D0%93%D0%B5%D0%BE%D1%80%D0%B3%D0%B8%D0%B5%D0%B2%D0%B8%D1%87">Владимира Сорокина</a>&zwnj; и&nbsp;многих других. Обычно я&nbsp;читаю несколько книг параллельно, например, одну по&nbsp;профессии, вторую по&nbsp;интересам и&nbsp;одну-две художественных.</p>

    <p class="article__text">Книги и&nbsp;чтение для меня&nbsp;&mdash; способ развивать свое восприятие окружающей действительности. Это можно сравнить с&nbsp;обучением нейросети. Чем больше на&nbsp;вход подаешь качественной информации, тем сложнее, обширнее и&nbsp;больше создается связей и&nbsp;принятие решений становится качественнее и&nbsp;точнее. Так и&nbsp;с&nbsp;мозгом, чем больше через сознание проходит хороших книг и&nbsp;качественной информации, тем причудливее и&nbsp;больше образуется связей между нейронами, усложняются структуры, растут возможности воображения, окружающий мир и&nbsp;события в&nbsp;нем воспринимаются полнее, связнее и&nbsp;ярче.</p>

  </section>

  <section class="article__section section">
    <h2 id="photography" class="article__title title" data-anchor>📸 Мобильная фотография&nbsp;<span class="title__control">&nbsp;<a class="title__link link link--nav" href="#photography"><Sprite class="title__icon" name="chain" aria-hidden="true" /></a></span></h2>

    <p class="article__text">Тягу к&nbsp;фотографии я&nbsp;испытывал давно, еще в&nbsp;2013 году завел инстаграм и&nbsp;начал фотографировать не&nbsp;помышляя ни&nbsp;о&nbsp;какой композиции и&nbsp;технике. Осознанно мне захотелось познакомиться с&nbsp;профессиональным миром фотографии лишь весной 2019&nbsp;года, в&nbsp;мою первую поездку в&nbsp;Грузию. Во&nbsp;время путешествия в&nbsp;другую страну я&nbsp;видел много достопримечательностей, интересных культурных особенностей и&nbsp;людей, все это часто хотелось запечатлеть. Я&nbsp;пытался фотографировать, но&nbsp;получались как всегда посредственные туристические снимки очередного храма или фасада сдания. Я&nbsp;наконец-то начал понимать, что снимаю какой-то посредственный даже не&nbsp;ширпотреб и&nbsp;по&nbsp;приезду домой, разбирая очередную гору фотографий, захотелось научиться снимать на&nbsp;любительском уровне, чтобы мои работы мне нравились и&nbsp;не&nbsp;выглядели хотя&nbsp;бы на&nbsp;первый взгляд по-дилетантски.</p>

    <Picture 
      img={photoSunset}
      caption={'<a class="link link--info" href="https://www.instagram.com/p/Bzlrslsn4CC/" class="link link--info">Закат на&nbsp;левом берегу Дона</a>, Ворошиловский мост. Ростов-на-Дону.'}
      imgAlt="Закатное солнце из под моста пробивается сквозь стеклянный звуковой отбойник перед опорой моста" 
      classNames="article__picture picture--wide" 
    />

    <p class="article__text">Вместе с&nbsp;желанием развиваться в&nbsp;фотографии, пришло понимание и&nbsp;одновременно удивление от&nbsp;того, что во&nbsp;времена расцвета соцсетей для размещения фотоснимков и&nbsp;повсеместной доступности устройств для фотографирования большинство людей не&nbsp;представляют даже банальных основ фотографии. Это меня до&nbsp;сих пор поражает и&nbsp;удивляет. Особенно, когда просматриваешь обычные профайлы в&nbsp;инстаграм.</p>

    <p class="article__text">Чтобы погрузиться в&nbsp;мир фотографии я&nbsp;начал смотреть лекции фотографов на&nbsp;YouTube и&nbsp;по&nbsp;мере просмотра, постепенно пришло понимание, на&nbsp;каких людей стоит ориентироваться, кто из&nbsp;моих современников сейчас профессионал и&nbsp;какие мастера были в&nbsp;прошлом, как они снимали, какие были школы и&nbsp;течения. Особенно запомнились лекции фотографа, исследователя фотографии, критика и&nbsp;педагога <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%9B%D0%B0%D0%BF%D0%B8%D0%BD,_%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80_%D0%98%D0%BE%D1%81%D0%B8%D1%84%D0%BE%D0%B2%D0%B8%D1%87">Александра Лапина</a>, к&nbsp;сожалению, ушедшего из&nbsp;жизни в&nbsp;2012&nbsp;году. Его лекции можно <a class="link link--info" href="https://www.youtube.com/user/LapinSchool/videos">посмотреть на&nbsp;YouTube</a>.</p>

    <Picture 
      img={photoEscalator}
      caption={'<a class="link link--info" href="https://www.instagram.com/p/B2_rLpyn67V/" class="link link--info">Эскалатор в торговом центре</a>'}
      imgAlt="Вид на ступеньки эскалатора сверху вниз в черно-белом цвете." 
      classNames="article__picture picture--wide" 
    />

    <p class="article__text">Я&nbsp;познакомился с&nbsp;такими ярчайшими светохудожниками прошлого как: <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%9A%D0%B0%D1%80%D1%82%D1%8C%D0%B5-%D0%91%D1%80%D0%B5%D1%81%D1%81%D0%BE%D0%BD,_%D0%90%D0%BD%D1%80%D0%B8">Анри Картье-Брессон</a> (<a class="link link--info" href="https://instagram.com/_henricartierbresson">паблик</a>), <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%A0%D0%BE%D0%B4%D1%87%D0%B5%D0%BD%D0%BA%D0%BE,_%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80_%D0%9C%D0%B8%D1%85%D0%B0%D0%B9%D0%BB%D0%BE%D0%B2%D0%B8%D1%87">Александр Родченко</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%91%D1%83%D1%80%D0%B4%D0%B5%D0%BD,_%D0%93%D0%B8">Ги&nbsp;Бурден</a> и&nbsp;многими другими. Открывать все это для себя было очень интересно и&nbsp;захватывающе. Я&nbsp;собрал нескольких современников, которые делали упор на&nbsp;обучении фотографии, стал смотреть их&nbsp;уроки и&nbsp;лекции. Параллельно, по&nbsp;мере того, как узнавал о&nbsp;профессионалах, подписывался на&nbsp;них и&nbsp;на&nbsp;профильные паблики о&nbsp;фотографии в&nbsp;инстаграмме, смотрел и&nbsp;изучал разные направления и&nbsp;техники. Постепенно у&nbsp;меня стала нарабатываться насмотренность и&nbsp;базовые знания: что такое композиция и&nbsp;как выстраивать кадр, как важен свет, что такое режимное время, выдержка, диафрагма, фокусное расстояние и&nbsp;много чего еще.</p>

    <p class="article__text">Насмотренность я&nbsp;формировал, просматривая работы профессиональных фотографов из&nbsp;разных жанров, от&nbsp;портретной до&nbsp;репортажной фотографии, показавшихся мне интересными. Мне очень близко творчество <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%9F%D0%B8%D0%BD%D1%85%D0%B0%D1%81%D0%BE%D0%B2,_%D0%93%D0%B5%D0%BE%D1%80%D0%B3%D0%B8%D0%B9_%D0%91%D0%BE%D1%80%D0%B8%D1%81%D0%BE%D0%B2%D0%B8%D1%87">Георгия Пинхасова</a> (<a class="link link--info" href="https://instagram.com/pinkhassov">профайл</a>)&nbsp;&mdash; лауреата международных премий и&nbsp;члена фотоагенства <a class="link link--info" href="https://ru.wikipedia.org/wiki/Magnum_Photos">Magnum Photos</a>. Восхищаюсь его способностью видеть необычное в&nbsp;обычном и&nbsp;представлять это в&nbsp;кадре. Также люблю снимки <a class="link link--info" href="http://aleksandrpetrosyan.com/">Александра Петросяна</a> (<a class="link link--info" href="https://instagram.com/petrosphotos">профайл</a>)&nbsp;&mdash; мастера репортажного и&nbsp;стрит-фото. Большинство его фоторабот представляют уличную жизнь Петербурга, людей и&nbsp;городские пейзажи.</p>

    <Picture 
      img={photoEscalator2}
      caption={'Еще один <a class="link link--info" href="https://www.instagram.com/p/B1cDq5MnF0Z/" class="link link--info">эскалатор в торговом центре</a>'}
      imgAlt="Вид на несколько визуально пересекающихся экскалаторов с первого этажа вверх" 
      classNames="article__picture picture--wide" 
    />

    <dl class="article__tags tags">
      <dt class="tags__title">Люблю и&nbsp;слежу за&nbsp;фотографами:</dt>
      <dd class="tags__body">
        <ul class="tags__list">
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/walter_rothwell/">Walter Rothwell</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/scotthakala/">Scott Hakala</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/jonasbendiksen/">Jonas Bendiksen</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/michaelchristopherbrown/">Michael Christopher brown</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/walter_rothwell">Walter Rothwell</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/stevemccurryofficial/">Steve Mccurry</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/kudo_bass">Kudo Bass</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/ritatipunina">Рита Типунина</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/joseph_lindbergh">Peter Lindbergh</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/romusramstrom">Romus Ramstr&ouml;m</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/timpankov">Tim Pankov</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/el_siani">Marco&nbsp;C.</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/ak_nice_photography">Alian Karsenty</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/yamashitaphoto/">Michael Yamashita</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/marktpower/">Mark Power</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/diminimal">Дмитрий Яговкин</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/sergeyponomarev">Сергей Пономарев</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/corona.creative">Edgar Corona</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/jone.reed">Jonė Reed</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/davidalanharvey">David Alan Harvey</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/pablo_khomey">Павел Хоменко</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/christopherandersonphoto">Christopher Anderson</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/joshkjack">Joshua K. Jackson</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/thomas_k">Thomas Kakareko</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/michaelschlegelphotography">Michael Schlegel</a></li>
        </ul>
      </dd>
    </dl>

    <p class="article__text">Еще просматриваю другие профайлы, которых накопилось немало.</p>

    <dl class="article__tags tags">
      <dt class="tags__title">Art, фэшн и&nbsp;нестандартный взгляд:</dt>
      <dd class="tags__body">
        <ul class="tags__list">
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/david_lachapelle">david_lachapelle</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/caseymcperry">caseymcperry</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/bejamin">bejamin</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/delfinacarmona">delfinacarmona</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/ziqianqian">ziqianqian</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/tangtawanwad_">tangtawanwad_</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/so.asa/">ho.asa</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/liseykina">liseykina</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/platon_yurich">platon_yurich</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/nikita.mashkin.personal">hikita.mashkin.personal</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/flanellemagazine">flanellemagazine</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/urbexmad2">urbexmad2</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/joselourenco">joselourenco</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/like_a_free">like_a_free</a></li>
        </ul>
      </dd>
    </dl>

    <dl class="article__tags tags">
      <dt class="tags__title">Мобильная фотография, все снимки сделаны на&nbsp;камеру смартфона:</dt>
      <dd class="tags__body">
        <ul class="tags__list">
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/julie_v_cp">julie_v_cp</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/sergey_sterling">sergey_sterling</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/behnazk">behnazk</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/andryan.mokshin">andryan.mokshin</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/dcim.ru">hdcim.ru</a></li>
        </ul>
      </dd>
    </dl>

    <dl class="article__tags tags">
      <dt class="tags__title">Стрит и&nbsp;репортажное фото:</dt>
      <dd class="tags__body">
        <ul class="tags__list">
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/lucapaccusse">lucapaccusse</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/zzzikkka">zzzikkka</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/thomashoepker">thomashoepker</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/sigitzero">sigitzero</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/michaelchristopherbrown">hmichaelchristopherbrown</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/garlesteanu_cosmin">garlesteanu_cosmin</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/vietsui">vietsui</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/gianca_bene">gianca_bene</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/michaeloneillphoto">michaeloneillphoto</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/ksaiga">ksaiga</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/laespiraldejosephk">laespiraldejosephk</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/_peterclarkson">_peterclarkson</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/betty_goh_photography">hbetty_goh_photography</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/urbanstreetphotogallery">hurbanstreetphotogallery</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/jenya.golovnov">jenya.golovnov</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/sayan_acharya_photography">hsayan_acharya_photography</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/treskdrov">treskdrov</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/jimgolden">jimgolden</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/cj_photo_works">cj_photo_works</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/away81">away81</a></li>
        </ul>
      </dd>
    </dl>

    <dl class="article__tags tags">
      <dt class="tags__title">Стрит-архитектура:</dt>
      <dd class="tags__body">
        <ul class="tags__list">
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/nikitin_bokeh/">nikitin_bokeh</a></li>
        </ul>
      </dd>
    </dl>

    <dl class="article__tags tags">
      <dt class="tags__title">Минимализм:</dt>
      <dd class="tags__body">
        <ul class="tags__list">
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/al.jackson.minimal">al.jackson.minimal</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/minimal_streetphoto">minimal_streetphoto</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/tv_simplicity">tv_simplicity</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/_rsa_minimal">_rsa_minimal</a></li>
        </ul>
      </dd>
    </dl>

    <dl class="article__tags tags">
      <dt class="tags__title">Портреты и&nbsp;изображение людей в&nbsp;кадре:</dt>
      <dd class="tags__body">
        <ul class="tags__list">
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/s.l.a.s.h.7/">s.l.a.s.h.7</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/medvdv">medvdv</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/raphsensei/">raphsensei</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/lovefridays">lovefridays</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/gelya_rychkova">gelya_rychkova</a>
          </li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/ruiduartesilva/">ruiduartesilva</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/asyapavlova">asyapavlova</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/phd.vladimirovich">phd.vladimirovich</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/ozguraydogdu/">ozguraydogdu</a>
          </li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/martabevacqua">martabevacqua</a>
          </li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/mehrandjojan">mehrandjojan</a>
          </li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/niravphotography">niravphotography</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/korzov">korzov</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/davidstewwwart">davidstewwwart</a>
          </li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/liepa_s">liepa_s</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/sergeybarokko">sergeybarokko</a>
          </li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/isnovikov">isnovikov</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/intercollective/">intercollective</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/maslova_fotoschool">maslova_fotoschool</a></li>
        </ul>
      </dd>
    </dl>

    <dl class="article__tags tags">
      <dt class="tags__title">Коммерческая фотография&nbsp;&mdash; продуктовое и&nbsp;фуд-фото:</dt>
      <dd class="tags__body">
        <ul class="tags__list">
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/foodshot_wesley_dombrecht">foodshot_wesley_dombrecht</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/thierrykubafilms">thierrykubafilms</a></li>
        </ul>
      </dd>
    </dl>

    <dl class="article__tags tags">
      <dt class="tags__title">Паблики премий, работ фотографов прошлого и&nbsp;просто хорошие фото-журналы:</dt>
      <dd class="tags__body">
        <ul class="tags__list">
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/friendsinprofile">friendsinprofile</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/streets_unseen">streets_unseen</a>
          </li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/projecttoei/">projecttoei</a>
          </li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/magnumphotos/">magnumphotos</a>
          </li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/worldpressphoto/">worldpressphoto</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/500px/">500px</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/sienawards">sienawards</a></li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/stephenwilkes">stephenwilkes</a>
          </li>
          <li class="tags__item tag-item"><a class="tag-item__link link link--info" href="https://instagram.com/philippe_halsman_official">philippe_halsman_official</a></li>
        </ul>
      </dd>
    </dl>

    <Picture 
      img={photoGuyAndGirl}
      caption={'<a class="link link--info" href="https://instagram.com/p/CC77Suzn7kR/" class="link link--info">Люди на фоне Большеохтинского моста</a>. Санкт-Петербург'}
      imgAlt="Пара идет по набережной на фоне моста. Парень с розовыми волосами, футболке и шортах держит за руку девушку с зелеными волосами рубашке и юбке" 
      classNames="article__picture picture--wide" 
    />

    <p class="article__text">В&nbsp;фотографии есть и&nbsp;свои рекордсмены в&nbsp;стоимости, например, снимок немецкого фотографа <a class="link link--info" href="https://www.andreasgursky.com/en">Андреаса Гурски</a> (Andreas Gursky), <a class="link link--info" href="https://www.andreasgursky.com/en/works/1999/rhein-2">Rhein II</a>&nbsp;был <a class="link link--info" href="https://www.christies.com/en/lot/lot-5496716">продан на&nbsp;аукционе &laquo;Кристи&raquo;</a> за&nbsp;4&nbsp;338&nbsp;500 долларов.</p>

    <p class="article__text">По&nbsp;мере знакомства с&nbsp;фотографией я&nbsp;понял, что мне ближе всего мобильная фотография. Она не&nbsp;требует покупки дорогостоящей техники и&nbsp;позволяет в&nbsp;любой момент быть готовым к&nbsp;съемке. Камеры в&nbsp;смартфонах постоянно улучшаются и&nbsp;с&nbsp;помощью мобильного уже можно делать достойные работы. Да&nbsp;и&nbsp;профессиональные фотографы сейчас нередко пользуются смартфонами для мобильных съемок. Даже крупные издания печатают такие работы на&nbsp;первых полосах. Например, одним из&nbsp;первых таких снимков был фоторепортаж корреспондента <a class="link link--info" href="https://instagram.com/benlowy/">Бена Лоуи</a>, который он&nbsp;снял на&nbsp;камеру iPhone в&nbsp;2012&nbsp;году. Одна из&nbsp;его работ попала на&nbsp;первую полосу журнала Time Magazine.</p>

    <Picture 
      img={photoCar}
      caption={'<a class="link link--info" href="https://www.instagram.com/p/CDEqKYkHrX0/" class="link link--info">Автомобиль перед зданием.</a> Санкт-Петербург'}
      imgAlt="Ретро-автомобиль стоит на фоне здания у набережной" 
      classNames="article__picture picture--wide" 
    />

    <p class="article__text">За&nbsp;мою непродолжительную практику мобильной фотографии сложился определенный набор из&nbsp;приложений, которые помогают обрабатывать снимки. Большую часть работ по&nbsp;коррекции я&nbsp;провожу в&nbsp;приложении VSCO. В&nbsp;нем можно подобрать уже готовый подходящий фильтр и&nbsp;подкорректировать вручную насыщенность, резкость, балланс белого, откадрировать снимок и&nbsp;сделать много других тонких настроек. Еще пользуюсь:</p>

    <ul class="list">
      <li class="list">
        <a class="link link--info" href="https://remini.ai/" class="list">Remini</a>&nbsp;&mdash; поможет, если нужно улучшить качество фотографии;
      </li>
      <li class="list">
        <a class="link link--info" href="https://apps.apple.com/us/app/touchretouch/id373311252" class="list">Retouch</a>&nbsp;&mdash; помогает избавиться от&nbsp;проводов и&nbsp;птиц в&nbsp;небе и&nbsp;других мусорных объектов на&nbsp;фотографиях;
      </li>
      <li class="list">
        <a class="link link--info" href="http://www.skrwt.com/" class="list">SKRWT</a>&nbsp;&mdash; редко использую для выравнивания перспективы при фотографировании архитектуры;
      </li>
      <li class="list">
        <a class="link link--info" href="http://sunfollower.net/#1/-33.8565,151.2151,12/2022.01.09/20:22" class="list">Sunfollower</a>&nbsp;&mdash; определяет стороны и&nbsp;время восхода и&nbsp;заката, очень помогает определить режимное время и&nbsp;ракурсы для съемки относительно положения солнца.
      </li>
    </ul>

    <Picture 
      img={photoVitrina}
      caption={'<a class="link link--info" href="https://www.instagram.com/p/B1M2yk5HuBN/" class="list">Витрина магазина</a>. Батуми. Грузия'}
      imgAlt="В отражении витрины магазина расписных кувшинов виднеется православный храм" 
      classNames="article__picture picture--wide" 
    />

    <p class="article__text">На&nbsp;первых порах важно не&nbsp;только в&nbsp;больших объемах тренировать насмотренность, но&nbsp;и&nbsp;много практиковаться как в&nbsp;съемке, так и&nbsp;в&nbsp;работе с&nbsp;инструментами пост обработки. В&nbsp;начале я&nbsp;часто подгадывал время прогулок ближе к&nbsp;режимному времени, когда солнце стремится к&nbsp;закату и&nbsp;подходит ближе к&nbsp;горизонту, старался больше фотографировать. Я&nbsp;заметил интересное следствие того, что когда много и&nbsp;часто фотографируешь, чаще начинаешь замечать кадры уже даже не&nbsp;доставая телефон, реальность при этом становится как будто гуще, насыщеннее и&nbsp;интереснее.</p>

    <p class="article__text">Сейчас я&nbsp;стал снимать меньше, но&nbsp;продолжаю смотреть лекции по&nbsp;фотографии, следить за&nbsp;любимыми фотографами и&nbsp;устраивать предзакатные фотопрогулки.</p>

    <Picture 
      img={photoSnowfall}
      caption={'<a class="link link--info" href="https://www.instagram.com/p/CYCJ2VTslsK/" class="list">Снегопад</a>. Ростов-на-Дону'}
      imgAlt="Ночной снегопад в городе, на переднем плане два дерева с ветвями, облепленными снегом." 
      classNames="article__picture picture--wide" 
    />

    <section class="section section_another">
      <h2 id="money" class="article__title title" data-anchor>💰 Экономика, инвестирование и&nbsp;крипторынок&nbsp;<span class="title__control">&nbsp;<a class="title__link link link--nav" href="#money"><Sprite class="title__icon" name="chain" aria-hidden="true" /></a></span></h2>

      <p class="article__text">Я&nbsp;рос в&nbsp;обычной семье, где об&nbsp;инвестировании сильно не&nbsp;задумывались и&nbsp;о&nbsp;деньгах особо не&nbsp;говорили, как и&nbsp;в&nbsp;большинстве семей на&nbsp;постсоветском пространстве. Первые мысли о&nbsp;каких-то накоплениях и&nbsp;более умном распоряжении деньгами в&nbsp;долгосрочной перспективе у&nbsp;меня появились после прочтения простой книги &laquo;<a class="link link--info" href="https://www.livelib.ru/find/%D0%9F%D0%B5%D1%81+%D0%BF%D0%BE+%D0%B8%D0%BC%D0%B5%D0%BD%D0%B8+%D0%9C%D0%B0%D0%BD%D0%B8">Пес по&nbsp;имени Мани</a>&raquo; <a class="link link--info" href="https://www.livelib.ru/author/146399-bodo-shefer">Бодо Шефера</a>&nbsp;&mdash; бизнес-тренера, как сейчас модно называть таких мотиваторов. Было это на&nbsp;первых курсах университета. Я&nbsp;учился на&nbsp;специальности экономическая кибернетика, в&nbsp;которой сочетались экономические и&nbsp;IT-дисциплины, но, как ни&nbsp;странно, о&nbsp;деньгах и&nbsp;практическом распоряжении ими я&nbsp;узнал больше из&nbsp;этой детской книги, чем из&nbsp;начальных курсов своего факультета экономики и&nbsp;финансов.</p>

      <p class="article__text">Следующим этапом была книга &laquo;<a class="link link--info" href="https://www.livelib.ru/book/1002624464-bogatyj-papa-bednyj-papa-robert-t-kijosaki-sheron-l-lekter">Богатый папа, бедный папа</a>&raquo; всем известного <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%9A%D0%B8%D0%B9%D0%BE%D1%81%D0%B0%D0%BA%D0%B8,_%D0%A0%D0%BE%D0%B1%D0%B5%D1%80%D1%82">Роберта Кийосаки</a>. Ее&nbsp;я&nbsp;прочел на&nbsp;последнем курсе университета, когда уже кое-что понимал в&nbsp;экономике. В&nbsp;университете все преподавалось очень сухо неинтересно и&nbsp;без привязки к&nbsp;обычной жизни, а&nbsp;такие, по&nbsp;большей части мотивационные книги, формировали правильное отношение к&nbsp;деньгам на&nbsp;бытовом уровне.</p>

      <p class="article__text">Шли годы, я&nbsp;начал свою профессиональную карьеру, мысли о&nbsp;накоплениях и&nbsp;инвестировании оставались на&nbsp;заднем плане, я&nbsp;осваивал новую специальность и&nbsp;мне было не&nbsp;до&nbsp;этого. Я, конечно, почитывал какие-то книги на&nbsp;эту тему, в&nbsp;том числе и&nbsp;полностью художественные, вроде &laquo;<a class="link link--info" href="https://www.livelib.ru/book/1005023812-samyj-bogatyj-chelovek-v-vavilone-dzhordzh-klejson">Самого богатого человека в&nbsp;Вавилоне</a>&raquo; <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%9A%D0%BB%D0%B5%D0%B9%D1%81%D0%BE%D0%BD,_%D0%94%D0%B6%D0%BE%D1%80%D0%B4%D0%B6_%D0%A1%D0%B0%D0%BC%D1%8E%D1%8D%D0%BB%D1%8C">Джорджа Сэмюэла Клейсона</a>, но&nbsp;дальше мыслей и&nbsp;какого-то мимолетного воодушевления дело не&nbsp;шло. Позже прибавились переезды и&nbsp;разные другие жизненные обстоятельства, которые не&nbsp;способствовали появлению свободных средств, а&nbsp;с&nbsp;ними и&nbsp;мыслей об&nbsp;их&nbsp;сохранении и&nbsp;преумножении.</p>

      <p class="article__text">Только спустя с&nbsp;десяток лет, наработав опыт в&nbsp;профессии и&nbsp;стабильный доход, меня стали все чаще посещать мысли о&nbsp;накоплении и&nbsp;сохранении денег, хотя&nbsp;бы от&nbsp;инфляции. Я&nbsp;стал читать профильных специалистов, смотреть YouTube-каналы посвященные финансам и&nbsp;инвестированию. В&nbsp;начале 2017 года до&nbsp;меня, как и&nbsp;до&nbsp;многих в&nbsp;то&nbsp;время, дошла первая волна популярности блокчейна и&nbsp;связанного с&nbsp;ним рынка криптовалют. Я&nbsp;начал интенсивно изучать этот рынок, пробовал экспериментировать с&nbsp;майнингом. Особых успехов в&nbsp;майнинге я&nbsp;не&nbsp;достиг, но&nbsp;зато это дало мне хорошие знания об&nbsp;устройстве, сборке и&nbsp;настройке персонального компьютера.</p>

      <p class="article__text">В&nbsp;то&nbsp;время я&nbsp;все еще недостаточно знал о&nbsp;рынке, чтобы понимать его периодичность. Я&nbsp;мало понимал об&nbsp;особенностях циклов роста и&nbsp;спада, то&nbsp;есть рынка быков и&nbsp;рынка медведей. В&nbsp;2017 году рынок криптовалют как раз подходил к&nbsp;пику бычьего рынка и&nbsp;на&nbsp;нем к&nbsp;концу года наблюдалась эйфория взрывного роста, которая говорит об&nbsp;образовании пузыря и&nbsp;общей перегретости рынка, за&nbsp;которой вот-вот наступит крах и&nbsp;разворот в&nbsp;медвежью сторону с&nbsp;продолжительным падением. Как можно видеть из&nbsp;истории рынка, ровно так и&nbsp;случилось. В&nbsp;начале 2018&nbsp;года, вопреки моим наивным представлениям о&nbsp;бесконечном росте, рынок стал падать и&nbsp;в&nbsp;конце концов весь ушел в&nbsp;глубокую коррекцию. Настроения на&nbsp;рынке были пессимистичны, в&nbsp;том числе и&nbsp;мои. Я&nbsp;понял, что скорее всего это на&nbsp;долго и&nbsp;отошел от&nbsp;мониторинга и&nbsp;изучения этой сферы на&nbsp;несколько лет и&nbsp;только изредка интересовался положением дел.</p>

      <Picture 
      img={economyStockToFlow}
      caption={'<a class="link link--info" href="https://stats.buybitcoinworldwide.com/stock-to-flow/" class="link link--info">График цены биткоина</a> в&nbsp;корелляции с&nbsp;<a class="link link--info" href="https://medium.com/@100trillionUSD/modeling-bitcoins-value-with-scarcity-91fa0fc03e25" class="link link--info">моделью Stock to&nbsp;flow</a>'}
      imgAlt="Восходящий реальный график с пиками и просадками и линия модели Stock to flow с которой график кореллирует" 
      classNames="article__picture picture--wide" 
      />

      <p class="article__text">В&nbsp;начале осени 2020&nbsp;года, с&nbsp;постепенным ростом криптовалютного рынка, я&nbsp;все чаще начал обращать на&nbsp;него внимание, понемногу изучать, и&nbsp;к&nbsp;мартовскому обвалу 2021 года уже имел представление о&nbsp;цикличности как традиционных рынков в&nbsp;целом, так и&nbsp;рынка криптовалют в&nbsp;частности. Лучше понять психологию рынка и&nbsp;игры на&nbsp;бирже мне помогла книга &laquo;<a class="link link--info" href="https://www.livelib.ru/book/1002624477-vospominaniya-birzhevogo-spekulyanta-edvin-lefevr">Воспоминания биржевого спекулянта</a>&raquo; <a class="link link--info" href="https://www.litres.ru/edvin-lefevr/ob-avtore/">Эдвина Лефевра</a>, написанная в&nbsp;художественном стиле, но&nbsp;по&nbsp;реальным событиям&nbsp;&mdash; профессиональной карьере одного из&nbsp;известнейших трейдеров начала двадцатого века <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%9B%D0%B8%D0%B2%D0%B5%D1%80%D0%BC%D0%BE%D1%80,_%D0%94%D0%B6%D0%B5%D1%81%D1%81%D0%B8_%D0%9B%D0%B0%D1%83%D1%80%D0%B8%D1%81%D1%82%D0%BE%D0%BD">Джесси Ливермора</a>. Еще на&nbsp;мое восприятие рынка и&nbsp;принципов инвестирования сильно повлияла книга &laquo;<a class="link link--info" href="https://www.livelib.ru/book/1002868394-printsipy-zhizn-i-rabota-rej-dalio">Принципы</a>&raquo; одного из&nbsp;выдающихся финансистов современности <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%94%D0%B0%D0%BB%D0%B8%D0%BE,_%D0%A0%D1%8D%D0%B9">Рея Далио</a>.</p>

      <p class="article__text">У&nbsp;рынка криптовалют есть одна техническая особенность, которой нет на&nbsp;традиционном фондовом рынке. Биткоин занимает здесь доминирующее положение как первый подобный по-настоящему децентрализованный актив, который никем не&nbsp;управляется и&nbsp;на&nbsp;который никто не&nbsp;может повлиять в&nbsp;техническом плане. Сеть запрограммирована таким образом, что примерно раз в&nbsp;4&nbsp;года происходит уполовинивание награды майнерам. То&nbsp;есть доходность от&nbsp;майнинга биткоина примерно каждые 4&nbsp;года уменьшается в&nbsp;два раза, подчиняясь механизму, заложенному в&nbsp;биткоин на&nbsp;базовом техническом уровне. Это уполовинивание называется халвингом, от&nbsp;английского halving&nbsp;&mdash; уменьшение вдвое. Уполовинивание наград за&nbsp;майнинг&nbsp;&mdash; это уменьшение эмиссии итак конечного актива в&nbsp;два раза. Рынок всегда реагирует ростом на&nbsp;такое уменьшение эмиссии. Это происходило всю историю биткоина.</p>

      <p class="article__text">То, что на&nbsp;биткоин нельзя повлиять технически, не&nbsp;означает, что нельзя повлиять на&nbsp;его цену и&nbsp;популярность для инвесторов. На&nbsp;это может влиять и&nbsp;влияет очень много факторов, от&nbsp;твита о&nbsp;покупке актива какой-то известной личностью, до&nbsp;введения реугляторных механизмов относительно рынка криптовалют правительством той или иной страны, а&nbsp;также манипуляции с&nbsp;продажей и&nbsp;покупкой больших объемов актива на&nbsp;рынке с&nbsp;целью развернуть его цену в&nbsp;ту&nbsp;или иную сторону. Рынок биткоина и&nbsp;других криптоактивов очень волатилен из-за двух основных факторов:</p>

      <ul class="article__list list">
        <li class="list__item">в&nbsp;отличие от&nbsp;фондового рынка, он&nbsp;работает без остановок 24&nbsp;часа 7&nbsp;дней в&nbsp;неделю;</li>
        <li class="list__item">купить или продать биткоин и&nbsp;другие криптоактивы может любой желающий с&nbsp;доступом в&nbsp;интернет, в&nbsp;том числе и&nbsp;крупные манипуляторы ценой.</li>
      </ul>

      <p class="article__text">Биткоин, как первый в&nbsp;своем роде актив, влияет на&nbsp;все остальные блокчейн-проекты, которых сейчас насчитывается более 15&nbsp;тысяч. Весь крипторынок очень чутко реагирует на&nbsp;подъем или снижение его цены. На&nbsp;этом рынке есть даже индекс биткоин доминации, который представляет собой отношение капитализации биткоина к&nbsp;капитализации всей блокчейн-индустрии, он&nbsp;показывает силу влияния цены биткоина на&nbsp;остальную блокчейн-индустрию.</p>

      <Picture 
      img={economyBitcoinRainbowChart}
      caption={'<a class="link link--info" href="https://www.blockchaincenter.net/bitcoin-rainbow-chart/" class="link link--info">График цены биткоина</a> относительно ценовой модели Bitcoin Rainbow Price Chart'}
      imgAlt="Восходящий реальный график с пиками и просадками на фоне кривой в виде радуги, где синий нижний цвет означает время покупать, а красный верхний — продавать." 
      classNames="article__picture picture--wide" 
      />

      <p class="article__text">Для меня этот рынок привлекателен в&nbsp;том числе своей волатильностью и&nbsp;повышенным риском. Я&nbsp;начал интересоваться инвестированием довольно поздно, поэтому считаю оптимальным изучение и&nbsp;уделение внимания именно таким инструментам, которые могут ввиду повышенного риска обеспечить высокую доходность. По&nbsp;сравнению с&nbsp;фондовым рынком, доходность на&nbsp;криптовалютном рынке в&nbsp;100%, 200% или даже в&nbsp;500%&nbsp;&mdash; обычное дело, которым мало кого удивишь. Но&nbsp;начинать инвестировать консервативно и&nbsp;без больших рисков можно в&nbsp;каком угодно возрасте, даже в&nbsp;53&nbsp;года, как это сделала пенсионерка <a class="link link--info" href="https://quote.rbc.ru/news/article/5ed7d2929a79472073fc4af8">Лариса Морозова</a> в&nbsp;2008&nbsp;году.</p>

      <p class="article__text">Сейчас блокчейн-техноогии и&nbsp;криптовалютный рынок эволюционируют и&nbsp;развиваются очень стремительно. Широко разраслась сфера децентрализованных финансов&nbsp;&mdash; DeFi, а&nbsp;об&nbsp;NFT&nbsp;&mdash; невзаимозаменяемых токенах, знает даже ребенок. Набирает обороты индустрия P2E-игр и&nbsp;сектор GameFi в&nbsp;целом, даже крупные производители AAA-игр анонсируют свои проекты. С&nbsp;недавним обозначением компанией Meta курса на&nbsp;метавселенные, произошел взрывной рост в&nbsp;секторе блокчейн-метавселенных Decentraland, Sandbox и&nbsp;других. США, Европейские страны и&nbsp;РФ уже разрабатывают свои CBDC-инструменты, готовясь к&nbsp;новой финансовой системе, порог которой, я&nbsp;убежден, мы&nbsp;уже переступили.</p>
      <p class="article__text">Подчеркну, что представленная здесь информация не&nbsp;является финансовым или инвестиционным советом. Согласно <a class="link link--info" href="http://ivo.garant.ru/#/document/71837598/paragraph/28:0">федеральному закону &#8470;&nbsp;397-ФЗ</a>, я&nbsp;не&nbsp;отношусь к&nbsp;квалифицированным инвесторам и&nbsp;не&nbsp;имею лицензии на&nbsp;предоставление индивидуальных консультаций.</p>
    </section>

    <section class="section section_another">
      <h2 id="movies-and-games" class="article__title title" data-anchor>🕹️ Кино и&nbsp;компьютерные игры&nbsp;<span class="title__control">&nbsp;<a class="title__link link link--nav" href="#movies-and-games"><Sprite class="title__icon" name="chain" aria-hidden="true" /></a></span></h2>

      <p class="article__text">Я&nbsp;не&nbsp;киноман, но&nbsp;сказать, что равнодушен к&nbsp;хорошему кино тоже не&nbsp;могу. За&nbsp;свою жизнь я&nbsp;посмотрел много разных фильмов, обращая внимание только на&nbsp;сюжет и&nbsp;то, захватывает он&nbsp;мое внимание или нет. Но&nbsp;время идет и&nbsp;развитие не&nbsp;стоит на&nbsp;месте, начинаешь разбираться в&nbsp;киноиндустрии глубже, чем просто в&nbsp;определении рейтинга на&nbsp;Кинопоиске для вечернего кинопросмотра. Начинаешь замечать режиссеров, то&nbsp;как они снимают, их&nbsp;стиль, особенности и&nbsp;даже угадывать режиссера если о&nbsp;фильме ничего не&nbsp;знаешь.</p>

      <p class="article__text">Мне нравится хорошее кино. Нравятся <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%9B%D0%B8%D0%BD%D1%87,_%D0%94%D1%8D%D0%B2%D0%B8%D0%B4">Девид Линч</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B0%D1%80%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9,_%D0%90%D0%BD%D0%B4%D1%80%D0%B5%D0%B9_%D0%90%D1%80%D1%81%D0%B5%D0%BD%D1%8C%D0%B5%D0%B2%D0%B8%D1%87">Андрей Тарковский</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%A4%D0%BE%D0%BD_%D0%A2%D1%80%D0%B8%D0%B5%D1%80,_%D0%9B%D0%B0%D1%80%D1%81">Ларс Фон Триер</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%9A%D0%BE%D0%BF%D0%BF%D0%BE%D0%BB%D0%B0,_%D0%A4%D1%80%D1%8D%D0%BD%D1%81%D0%B8%D1%81_%D0%A4%D0%BE%D1%80%D0%B4">Фрэнсис Форд Коппола</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%A5%D0%B8%D1%87%D0%BA%D0%BE%D0%BA,_%D0%90%D0%BB%D1%8C%D1%84%D1%80%D0%B5%D0%B4">Альфред Хичкок</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%9A%D1%83%D0%B1%D1%80%D0%B8%D0%BA,_%D0%A1%D1%82%D1%8D%D0%BD%D0%BB%D0%B8">Стэнли Кубрик</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%90%D0%BB%D0%BB%D0%B5%D0%BD,_%D0%92%D1%83%D0%B4%D0%B8">Вуди Ален</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%90%D0%BD%D0%B4%D0%B5%D1%80%D1%81%D0%BE%D0%BD,_%D0%A3%D1%8D%D1%81">Уэс Андерсон</a>, <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B0%D1%80%D0%B0%D0%BD%D1%82%D0%B8%D0%BD%D0%BE,_%D0%9A%D0%B2%D0%B5%D0%BD%D1%82%D0%B8%D0%BD">Квентин Тарантино</a>. Люблю посмотреть фильм, снятый по&nbsp;книге, сравнение своего воображения с&nbsp;воображением сценариста и&nbsp;режиссера доставляет особое удовольствие.</p>

      <p class="article__text">В&nbsp;этом разделе я&nbsp;не&nbsp;зря объединил кино и&nbsp;компьютерные игры. Затраты на&nbsp;производство компьютерных игр сейчас не&nbsp;то&nbsp;что не&nbsp;уступают, а&nbsp;во&nbsp;много раз превосходят рынок кинопроизводства. Например, на&nbsp;один из&nbsp;самых дорогих фильмов 2021 года &laquo;<a class="link link--info" href="https://www.kinopoisk.ru/film/1387021/">Лига справедливости</a>&raquo; <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%A1%D0%BD%D0%B0%D0%B9%D0%B4%D0%B5%D1%80,_%D0%97%D0%B0%D0%BA">Зака Снайдера</a> было потрачено около 370 млн долларов, а&nbsp;на&nbsp;проивозоство компьютерной игры <a class="link link--info" href="https://ru.wikipedia.org/wiki/Red_Dead_Redemption_2">Red Dead Redemption 2</a>&nbsp;&mdash; 600&nbsp;млн. Если считать вместе с&nbsp;рекламной кампанией, то&nbsp;вообще 944&nbsp;млн. Разработка игры заняла целых 8&nbsp;лет. Играть в&nbsp;нее могут только совершеннолетние из-за рейтинга 18+.</p>

      <Picture 
      img={gamesRDR2}
      caption={'Скриншот из компьютерной игры Red Dead Redemption 2'}
      imgAlt="Ковбой на коне с обрыва смотрит на изгибающуюся у подножия горную реку, хвойные леса и заснеженные горы вдали под облаками." 
      classNames="article__picture picture--wide" 
      />

      <p class="article__text">Копьютеные игры уже давно перестали быть просто детскими стрелялками для развлечения. Сейчас существуют проекты, которые представляют собой сложные детализированные миры со&nbsp;множеством иммерсивных взаимодействий и&nbsp;сложнейшим кинематографичным сюжетом. В&nbsp;таких играх нужно буквально проживать свой опыт: путешествовать, искать клады, решать головоломки, отступать от&nbsp;главной линии сюжета и&nbsp;взаимодействовать с&nbsp;побочными персонажами, исследовать и&nbsp;познавать окружающий мир и&nbsp;вообще заниматься чем угодно в&nbsp;рамках геймплея. Этого не&nbsp;позволит ни&nbsp;один фильм или театральная постановка.</p>

      <p class="article__text">О&nbsp;том, что игры&nbsp;&mdash; это уже что-то большее, чем просто развлечения, подробно рассказал мой друг в&nbsp;эссе &laquo;<a class="link link--info" href="https://indralika.ru/news/%d0%b2%d0%b2%d0%b5%d0%b4%d0%b5%d0%bd%d0%b8%d0%b5-%d0%b7%d0%b0-%d0%b3%d1%80%d0%b0%d0%bd%d1%8c%d1%8e-%d1%80%d0%b0%d0%b7%d0%b2%d0%bb%d0%b5%d1%87%d0%b5%d0%bd%d0%b8%d0%b9/">Введение: за&nbsp;гранью развлечений</a>&raquo;. Это начало <a class="link link--info" href="https://indralika.ru/category/cult/ludens/">цикла его статей</a> о&nbsp;компьютерных играх.</p>

      <p class="article__text">Я&nbsp;играю в&nbsp;компьютерные игры и&nbsp;считаю, что этот вид развлечения очень хорошо развивает и&nbsp;обогощает сознание. Но, как и&nbsp;с&nbsp;книгами, здесь стоит научиться выбирать качественные проекты.</p>
    </section>

    <section class="article__section section">
      <h2 id="sport" class="article__title title" data-anchor>🔥 Силовые тренировки и&nbsp;горные лыжи&nbsp;<span class="title__control">&nbsp;<a class="title__link link link--nav" href="#sport"><Sprite class="title__icon" name="chain" aria-hidden="true" /></a></span></h2>

      <p class="article__text">Любая физическая активность хорошо сказывается на&nbsp;интеллектуальных возможностях, об&nbsp;этом говорит много исследований. В&nbsp;человеческом организме есть специальный белок <a class="link link--info" href="https://ru.wikipedia.org/wiki/BDNF">BDNF</a> (<a class="link link--info" href="https://en.wikipedia.org/wiki/Brain-derived_neurotrophic_factor">eng</a>), который способствует развитию нейронов, долговременной памяти и&nbsp;усиливает когнитивные способности. Ученые заметили, что больше всего <abbr class="article__abbr" title="Brain-Derived Neurotrophic Factor" tabindex="0">BDNF</abbr>&zwnj; образуется при длительных стабильных физических нагрузках&nbsp;&mdash; беге и&nbsp;других тренировках. Тренироваться полезно не&nbsp;только для сердечно-сосудистой системы и&nbsp;общего тонуса, но&nbsp;и&nbsp;для улучшения работы мозга. Очень понятно и&nbsp;увлекательно о&nbsp;BDNF рассказала одна из&nbsp;моих любимых научных журналистов&nbsp;&mdash; биолог <a class="link link--info" href="https://ru.wikipedia.org/wiki/%D0%9A%D0%B0%D0%B7%D0%B0%D0%BD%D1%86%D0%B5%D0%B2%D0%B0,_%D0%90%D1%81%D1%8F">Ася Казанцева</a> в&nbsp;своей лекции &laquo;<a class="link link--info" href="https://www.youtube.com/watch?v=J0q78ph-2QQ">Как спорт влияет на&nbsp;мозг?</a>&raquo;.</p>

      <h3 id="fitness" class="article__title title" data-anchor>💪 Тренировки&nbsp;<span class="title__control">&nbsp;<a class="title__link link link--nav" href="#fitness"><Sprite class="title__icon" name="chain" aria-hidden="true" /></a></span></h3>

      <p class="article__text">Я&nbsp;занимаюсь силовыми тренировками. Это повторение движений с&nbsp;большим весом: штангой, гантелями или собственным весом: подтягивания на&nbsp;турнике, отжимания на&nbsp;брусьях или от&nbsp;пола. Такие занятия укрепляют мышцы, повышают выносливость, отвлекают от&nbsp;интеллектуальных задач и&nbsp;улучшают настроение.</p>

      <p class="article__text">Тренироваться я&nbsp;начал около 10-ти лет назад. Сначала целью был набор мыщечной массы и&nbsp;приведение фигуры в&nbsp;порядок. Я&nbsp;много читал и&nbsp;смотрел видео о&nbsp;фитнесе и&nbsp;тренировках, корректировал диету, питался четко по&nbsp;5&nbsp;раз в&nbsp;день, старался соблюдать соотношение по&nbsp;основным нутриентам: белкам, жирам и&nbsp;углеводам. Тренировался по&nbsp;одной из&nbsp;стандартных систем, три раза в&nbsp;неделю. В&nbsp;каждый из&nbsp;дней нужно было тренировать определенные группы мышц: в&nbsp;понедельник ноги, в&nbsp;среду плечи и&nbsp;спину, а&nbsp;в&nbsp;пятницу бицепс, трицепс и&nbsp;грудные мышцы.</p>

      <p class="article__text">Уже через месяц-полтора, периодические занятия начали давать визуальный и&nbsp;силовой эффект, мне стали нравиться те&nbsp;метаморфозы, что происходили с&nbsp;телом и&nbsp;общим самочувствием. Ушел лишний жир, мышцы стали рельефнее, выросли силовые показатели и&nbsp;поводов для хорошего настроения объективно прибавилось.</p>

      <p class="article__text">За&nbsp;годы тренировок я&nbsp;понял, что успех в&nbsp;этом деле в&nbsp;большей степени зависит от&nbsp;питания и&nbsp;отдыха, главное сбалансированно питатья и&nbsp;достаточно отдыхать. О&nbsp;нагрузках тоже не&nbsp;стоит забывать, они должны быть в&nbsp;меру напряженными и&nbsp;регулярными. Главное, не&nbsp;перегружать себя на&nbsp;тренировках&nbsp;&mdash; это только навредит.</p>

      <p class="article__text">Со&nbsp;временем питание и&nbsp;понимание из&nbsp;чего состоят продукты вошло у&nbsp;меня в&nbsp;привычку и&nbsp;я&nbsp;перестал обращать на&nbsp;это много внимания. В&nbsp;еде достаточно соблюдать основные правила: есть четыре-пять раз в&nbsp;день, в&nbsp;первой половине дня позволять себе больше сладкого и&nbsp;других углеводов, которые дают энергию, есть больше белка для роста мышц и&nbsp;снижать углеводы к&nbsp;вечеру, когда потребности в&nbsp;энергии уже нет и&nbsp;ее&nbsp;излишки откладываются в&nbsp;жир.</p>

      <p class="article__text">Сейчас я&nbsp;тренируюсь два-три раза в&nbsp;неделю на&nbsp;свежем воздухе: отжимаюсь на&nbsp;брусьях и&nbsp;подтягиваюсь на&nbsp;турнике. Один раз в&nbsp;неделю посвящаю тем группам мышц, которые трудно тренировать своим весом без помощи тренажеров, это мышцы ног и&nbsp;нижнего отдела спины. Такой стиль позволяет мне держать тело в&nbsp;тонусе, а&nbsp;количество BDNF на&nbsp;достаточном уровне.</p>

      <h3 id="ski" class="article__title title" data-anchor>❄️ Горные лыжи&nbsp;<span class="title__control">&nbsp;<a class="title__link link link--nav" href="#ski"><Sprite class="title__icon" name="chain" aria-hidden="true" /></a></span></h3>

      <p class="article__text">Этим видом активности я&nbsp;начал заниматься совсем недавно, откатал только первый сезон в&nbsp;конце зимы 2021&nbsp;года. Попробовать горные лыжи мне предложил <a class="link link--info" href="https://indralika.ru/">друг</a>, который катается давно. Он&nbsp;много рассказывал о&nbsp;том, как увлекательно изучать новые приемы в&nbsp;катании, пробовать разные трассы и&nbsp;вообще, получать удовольствие от&nbsp;самой поездки в&nbsp;горы. Я&nbsp;люблю горы, но&nbsp;живу на&nbsp;равнинной местности и&nbsp;для катания нужно далеко ехать или лететь, поэтому сама поездка превращается с&nbsp;небольшое приятное путешествие.</p>

      <Picture 
      img={skySnowyMountains}
      caption={'<a class="link link--info" href="https://www.instagram.com/p/CLRE_YmnAJj/" class="link link--info">Вид на&nbsp;горы с&nbsp;горнолыжной трассы</a>'}
      imgAlt="Синее небо с облаками, под небом две заснеженные вершины, внизу хвойный лес." 
      classNames="article__picture picture--wide" 
      />

      <p class="article__text">До&nbsp;того, как попробовать лыжи, у&nbsp;меня был опыт катания только на&nbsp;коньках на&nbsp;льду и&nbsp;роликах. На&nbsp;льду я&nbsp;катался очень плохо, потому что практиковался мало, нужно было находить время пойти на&nbsp;каток, а&nbsp;это не&nbsp;всегда получалось. На&nbsp;ролики я&nbsp;встал летом 2014 и&nbsp;через полгода уже купил себе собственные, перестав зависеть от&nbsp;проката. С&nbsp;роликовыми коньками было гораздо проще тренироваться, это можно делать в&nbsp;любое удобное время, надел и&nbsp;поехал по&nbsp;тротуару или парку. На&nbsp;роликах я&nbsp;научился ездить довольно неплохо.</p>

      <Picture 
      img={skyEvgeniySki}
      caption={'Я&nbsp;на&nbsp;вершине склона <a class="link link--info" href="https://sport-marafon.ru/article/gornye-lyzhi/kak-chitat-markirovku-gornolyzhnykh-trass/" title="Как читать маркировку горнолыжных трасс" class="link link--info">синей</a> трассы &laquo;<a class="link link--info" href="https://polyanaski.ru/ski-resort/track/" title="Трассы горно-туристического центра «Газпром»" class="link link--info">Лаура</a>&raquo; курорта &laquo;Газпром&raquo;'}
      imgAlt="Автор сайта в синей лыжной куртке и черных лыжных штанах в шлеме стоит на лыжах спиной в полоборота на склоне лыжной трассы повернув голову назад к оператору" 
      classNames="article__picture picture--wide" 
      />

      <p class="article__text">После трех лет практики ролики постепенно отошли на&nbsp;второй план и&nbsp;вскоре я&nbsp;благополучно забросил их&nbsp;полностью. Но&nbsp;навыки остались и&nbsp;помогли мне быстрее освоить катание на&nbsp;лыжах. После часового инструктажа, я&nbsp;уже мог спускаться с&nbsp;трасс для начального уровня, а&nbsp;на&nbsp;следующий день, с&nbsp;удовольствием спускался по&nbsp;средним, уклон которых в&nbsp;начале обучения казался чем-то смертельно опасным. В&nbsp;первом сезоне я&nbsp;не&nbsp;осмелился соваться на&nbsp;трассы для профессионалов, мне не&nbsp;позволяли это сделать ни&nbsp;навыки ни&nbsp;прокатная экипировка. Жду с&nbsp;нетерпением следующего сезона и&nbsp;новых ощущений, надеюсь улучшить свои умения и&nbsp;побывать на&nbsp;сложных трассах.</p>

      <Picture 
      img={skyEvgeniySkiFalling}
      caption={'При падениях на&nbsp;большой скорости иногда отстегивалась лыжа'}
      imgAlt="Автор лежит на животе опершись на локти с лыжными палками и согнутыми кверху ногами с одной лыжей только на правой ноге. Вторую лыжудержит стоя рядом катальщик в желтой куртке." 
      classNames="article__picture picture--wide" 
      />
    </section>

  </section>

</BaseLayout>
