---
import Picture from '@components/Picture.astro';

const { url, title, date, dateUX, description, img} = Astro.props;
---


  <article class="card">
    {
      img && (
        <Picture 
        img={img}
        imgAlt="" 
        classNames="article__cover" 
        />
      )
    }
    <h2 class="card__title">
      {title}
    </h2>
    <div class="card__description"><Fragment set:html={description} /></div>
    <time datetime={date}></time>
    {dateUX}
    <a class="card__link link" href={url}><span class="sr-only">Подробнее</span></a>
  </article>


