---
import ImgSource from '@components/ImgSource.astro';

const { url, title, date, dateUX, description, img, imgAlt} = Astro.props;
---

<article class="card">
  {
    img && (

    <ImgSource img={img} imgAlt={imgAlt} classNames="card__pic" />

    )
  }
  <h2 class="card__title">
    {title}
  </h2>
  <div class="card__description">
    <p class="card__text">
      {description}
    </p>
  </div>
  <time datetime={date}>{dateUX}</time>
  <a class="card__link link" href={url}><span class="sr-only">Подробнее</span></a>
</article>


