---
import { getImage } from 'astro:assets';

const {image, imageX2, imgAlt, classNames, imgFormat} = Astro.props;

// image — изображение разрешением 1x
// imageX2 — изображение разрешением 2x
// imgAlt — alt-текст для img-элемента
// classNames — дополнительные селекторы для атрибута class
// imgFormat — формат исходного изображения, например, 'png', если не указан, то автоматически используется jpg

const format = imgFormat ? imgFormat : 'jpg';

const pic = await getImage({ src: image, format: format});
const picX2 = await getImage({ src: imageX2, format: format });

const picWebp = await getImage({ src: image, format: 'webp'});
const picX2Webp = await getImage({ src: imageX2, format: 'webp' });

const picAvif = await getImage({ src: image, format: 'avif'});
const picX2Avif = await getImage({ src: imageX2, format: 'avif' });

---

<source srcset={`${picWebp.src}, ${picX2Webp.src} 2x`} type="image/webp">
<source srcset={`${picAvif.src}, ${picX2Avif.src} 2x`} type="image/avif">
<img srcset={`${picX2.src} 2x`} src={pic.src} {...pic.attributes} alt={imgAlt} class={classNames} />

{imgAlt ? <div class="warning">У изображения не может быть пустого атрибута Alt.</div> : ''}
