---
let {classNames} = Astro.props;

(classNames === undefined) ? classNames = '' : classNames;
---
<article class={`${classNames} search`}>
  <label for="search" class="search__title navbar-titl sr-only">Поиск</label>

  <div class="search__field field">
    <input id="search" type="text" placeholder="Поиск..." class="field__control">
    <button id="search-clear" class="field__clear" type="button" aria-label="Очистить поиск"></button>
  </div>

  <div class="search__results results"><h2 id="search-title" class="results__main-title">Вот, что нашлось:</h2><div id="search-results" class="results__body">
    <a href="/" class="results__item">
      <h3 class="results__title">Евгений Бескровный</h3>
      <p class="results__text">мне 38 лет, я занимаюсь веб-разработкой с уклоном во фронтенд: <mark>верстку,</mark> шаблонизацию, проектирование интерфейсов и UX-редактуру. Я T-shaped специалист, основное направление — <mark>верстка.</mark> В профессии 15 лет с 2009 года.</p>
    </a>
    <a href="/ui/" class="results__item">
      <h3 class="results__title">👋 Добро пожаловать!</h3>
      <p class="results__text">мне 36 лет, я занимаюсь веб-разработкой с уклоном во фронтенд: <mark>верстку,</mark> шаблонизацию, проектирование интерфейсов и UX-редактуру. Я T-shaped специалист, основное направление — <mark>верстка.</mark> В профессии 13 лет с 2009 года.</p>
    </a>
    <a href="/skills/" class="results__item">
      <h3 class="results__title">😎 Что я&nbsp;знаю и&nbsp;умею в&nbsp;профессии</h3>
      <p class="results__text">вебом. Сейчас, спустя 13 лет, я все еще продолжаю заниматься <mark>версткой</mark> и изучением веб-стандартов, но немалую часть отъедает проектирование интерфейсов, программирование, системная аналитика тимлидинг и управление проектами. 🧢 <mark>Верстка</mark> и</p>
    </a>
    <a href="/blog/upravlenie-processom-razrabotki/" class="results__item">
      <h3 class="results__title">Управление процессом разработки</h3>
      <p class="results__text">специалисты занимаются непосредственно своей узкой специальностью, если программист попутно занимается <mark>версткой,</mark> ситуация кардинально может поменяться, и наша схема превратиться в нечто подобное: Рисунок 4 — Процесс разработки, в котором программист</p>
    </a>
    <a href="/blog/opredelenie-realnyx-razmerov-izobrazheniya-jquery/" class="results__item">
      <h3 class="results__title">Кросс-браузерное определение реальных размеров изображения с&nbsp;помощью jQuery</h3>
      <p class="results__text">Добавляем fancybox. 📄 Нюанс загрузки в Opera. 🏷️. старое. jQuery. <mark>верстка.</mark> Кросс-браузерное определение реальных размеров изображения с помощью jQuery 📅 Опубликовано:22 мая 2011. Это статья из старого первого блога, который</p>
    </a>
    <a href="/blog/udobnyj-krossbrauzernyj-placeholder/" class="results__item">
      <h3 class="results__title">Удобный кросс-браузерный placeholder с&nbsp;помощью jQuery</h3>
      <p class="results__text">📄 Реализуем очищалку. 📄 Нюанс с IE. 🏷️. старое. jQuery. <mark>верстка.</mark> Удобный кросс-браузерный placeholder с помощью jQuery 📅 Опубликовано:15 мая 2011. Это статья из старого первого блога, который сохранился только</p>
    </a>
    <a href="/blog/tailwind-eto-smart-steering/" class="results__item">
      <h3 class="results__title">Классический рок, Mario Kart и&nbsp;почему мы&nbsp;не&nbsp;можем договориться о&nbsp;Tailwind</h3>
      <p class="results__text">Tailwind. 📜 Немного предыстории. 🥈 Две стороны одной медали. 🏷️. <mark>верстка.</mark> Tailwind. перевод. Классический рок, Mario Kart и почему мы не можем договориться о Tailwind 📅 Опубликовано:1 мая 2024. Мой</p>
    </a>
    <a href="/tags/" class="results__item">
      <h3 class="results__title">🏷️ Все теги</h3>
      <p class="results__text">Цветовая тема. Цветовая схема сайта 🏷️ Все теги. старое3. jQuery2. <mark>верстка3.</mark> Tailwind1. перевод1. управление проектами1.</p>
    </a>
    <a href="/tags/управление проектами/" class="results__item">
      <h3 class="results__title">🏷️ Все статьи по тегу</h3>
      <p class="results__text">Цветовая схема сайта 🏷️ Все статьи по тегу. старое3. jQuery2. <mark>верстка3.</mark> Tailwind1. перевод1. управление проектами1. Управление процессом разработки. Давно хотелось поразмышлять на тему управления веб-проектами, техническом менеджменте в веб-разработке, организации</p>
    </a>
    <a href="/tags/Tailwind/" class="results__item">
      <h3 class="results__title">🏷️ Все статьи по тегу</h3>
      <p class="results__text">Цветовая схема сайта 🏷️ Все статьи по тегу. старое3. jQuery2. <mark>верстка3.</mark> Tailwind1. перевод1. управление проектами1. Классический рок, Mario Kart и почему мы не можем договориться о Tailwind. Перевод статьи «Classic</p>
    </a>
    <a href="/tags/перевод/" class="results__item">
      <h3 class="results__title">🏷️ Все статьи по тегу</h3>
      <p class="results__text">Цветовая схема сайта 🏷️ Все статьи по тегу. старое3. jQuery2. <mark>верстка3.</mark> Tailwind1. перевод1. управление проектами1. Классический рок, Mario Kart и почему мы не можем договориться о Tailwind. Перевод статьи «Classic</p>
    </a>
    <a href="/tags/jQuery/" class="results__item">
      <h3 class="results__title">🏷️ Все статьи по тегу</h3> 
      <p class="results__text">Цветовая схема сайта 🏷️ Все статьи по тегу. старое3. jQuery2. <mark>верстка3.</mark> Tailwind1. перевод1. управление проектами1. 🚨 Статьи из старого блога про разные штуки на jQuery. Кросс-браузерное определение реальных размеров изображения</p>
    </a>
    <a href="/tags/верстка/" class="results__item">
      <h3 class="results__title">🏷️ Все статьи по тегу</h3>
      <p class="results__text">Цветовая схема сайта 🏷️ Все статьи по тегу. старое3. jQuery2. <mark>верстка3.</mark> Tailwind1. перевод1. управление проектами1. Кросс-браузерное определение реальных размеров изображения с помощью jQuery. Кросс-браузерное определение реальных размеров изображения с помощью</p>
    </a>
    <a href="/tags/старое/" class="results__item">
      <h3 class="results__title">🏷️ Все статьи по тегу</h3>
      <p class="results__text">Цветовая схема сайта 🏷️ Все статьи по тегу. старое3. jQuery2. <mark>верстка3.</mark> Tailwind1. перевод1. управление проектами1. 🚨 Статьи из старого первого блога, который сохранился только на archive.org, собраны в неизменном виде</p>
    </a>
    <a href="/blog/" class="results__item">
      <h3 class="results__title">📝 Статьи о&nbsp;веб-разрабтке, интерфейсах и&nbsp;жизни</h3>
      <p class="results__text">сгенерировал с помощью нейросети Midjourney. 🏷️ Все теги. старое3. jQuery2. <mark>верстка3.</mark> Tailwind1. перевод1. управление проектами1. 📚 Все статьи. Классический рок, Mario Kart и почему мы не можем договориться о Tailwind.</p>
    </a></div></div>

  <script is:inline>
    const searchField = document.querySelector('#search');
    const searchClearButton = document.querySelector('#search-clear');

    searchClearButton.addEventListener('click', function() {
      console.log('searchClearButton');
      searchField.value = '';

      var event = new Event('input', {
    bubbles: true,
});
  
searchField.dispatchEvent(event);
    });

    searchField?.addEventListener('input', async (e) => {
      // only load the pagefind script once
      if (e.target.dataset.loaded !== 'true') {
        e.target.dataset.loaded = 'true'
        // load the pagefind script
        window.pagefind = await import("/pagefind/pagefind.js");
      }

      // search the index using the input value
      const search = await window.pagefind.search(e.target.value)
      const searchTitle = document.querySelector('#search-title');
      const searchResults = document.querySelector('#search-results');
      const page = document.querySelector('html');

      if (searchField.value != '') {
        page.classList.add('_locked');
        page.classList.add('_search');
      } else {
        page.classList.remove('_locked');
        page.classList.remove('_search');
      }

      // clear the old search-results
      searchResults.innerHTML = ''

      if(search.results.length !== 0) {
        // add the new search-results
        searchTitle.innerHTML = 'Вот, что нашлось:';
        for (const result of search.results) {
          const data = await result.data();

          searchResults.innerHTML += `
            <a href="${data.url}" class="results__item">
              <h3 class="results__title">${data.meta.title}</h3>
              <p class="results__text">${data.excerpt}</p>
            </a>`
          
        }
      } else if (search.results.length === 0 && searchField.value != '') {
        searchTitle.innerHTML = 'По такому запросу ничего нет 😥';
        searchResults.innerHTML += '';
      }
    })
  </script>
</article>