---
import BaseLayout from '@layouts/BaseLayout.astro';
import ImgSource from '@components/ImgSource.astro';
import { getImageUrl } from '@utils/GetImageUrl.astro';
import { Sprite } from 'astro-icon';

const { frontmatter } = Astro.props;
const coverImage = getImageUrl(frontmatter.coverImage);
const coverImageAlt = frontmatter.coverImageAlt;

---
<BaseLayout>
    <header id="home" class="article__header">
      <picture class="article__cover-pic">
        {
          coverImage && (
            <ImgSource img={coverImage} imgAlt={coverImageAlt} classNames="article__cover" />
          )
        }
      </picture>
      <div class="article__main-tags tags tags--detail">
        <div class="tags__title">🏷️</div>
        <ul class="tags__list">
          {frontmatter.tags.map((tag) => (
            <li class={`tags__item tag ${(tag === 'старое') ? ('tag--old') : ''}`}><a href={`/tags/${tag}`} class="tag__link link link--nav">{tag}</a></li>
          ))}
        </ul>
      </div>
      

      <h1 class="article__title title title--h1" data-anchor>
        {frontmatter.title}&nbsp;<span class="title__control">&nbsp;<a class="title__link link link--nav" href="#home"><Sprite class="title__icon" name="chain" aria-hidden="true" /></a></span></h2>
      </h1>
      <p class="article__date">📅&nbsp;<span class="sr-only">Опубликовано:</span> {frontmatter.dateUX}</p>

      {frontmatter.isOld && (<div class="article__disclamer disclamer">
        <p class="text">Это <a class="link link--info" href="https://web.archive.org/web/20130510064505/http://www.beskrovnyy.com/development_process/upravlenie-processom-razrabotki">статья из старого первого блога</a>, который сохранился только на <a class="link link--info" href="http://web.archive.org/web/20130111055319/http://www.beskrovnyy.com/" class="link">archive.org</a>. Все старые статьи помечены тегом <span class="tag"><a href="/tags/старое" class="tag__link link link--nav">🚨&nbsp;старое</a></span></p>
      </div>)}
    </header>
    <slot />
</BaseLayout>