---
import BaseLayout from '@layouts/BaseLayout.astro';
import ImgSource from '@components/ImgSource.astro';
import { getImageUrl } from '@utils/GetImageUrl.astro';

const { frontmatter } = Astro.props;
const coverImage = getImageUrl(frontmatter.coverImage);
const coverImageAlt = frontmatter.coverImageAlt;

---
<BaseLayout>
    <header class="article__header">
      <div class="tags tags--detail">
        <div class="tags__title">🏷️</div>
        <ul class="tags__list">
          {frontmatter.tags.map((tag) => (
            <li class="tags__item"><a href={`/tags/${tag}`} class="tags__link link link--nav">{tag}</a></li>
          ))}
        </ul>
      </div>

      {
        coverImage && (
          <ImgSource img={coverImage} imgAlt={coverImageAlt} classNames="article__cover" />
        )
      }

      <h1 class="article__title title title--h1">{frontmatter.title}</h1>
      <p>📅&nbsp;<span class="sr-only">Опубликовано:</span> {frontmatter.dateUX}</p>
    </header>
    <slot />
</BaseLayout>